/.dockerignore     export-ignore
/.editorconfig     export-ignore
/.env              export-ignore
/.env.dev          export-ignore
/.env.test         export-ignore
/.php-cs-fixer.dist.php export-ignore
/bin               export-ignore
/Caddyfile         export-ignore
/config            export-ignore
/CONTRIBUTING.md   export-ignore
/docker-compose.yml export-ignore
/Dockerfile        export-ignore
/docs              export-ignore
/phpstan.dist.neon export-ignore
/phpunit.dist.xml  export-ignore
/public            export-ignore
/tests             export-ignore
/recipe            export-ignore
