parameters:
    level: 8
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - src/
        - tests/
    excludePaths:
        - vendor/
        - var/

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
